* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: rgb(65, 236, 170);
    width: 100%;
    height: 150px;
}


nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(65, 236, 170);
    align-items: end;
    height: 150px;
    padding-bottom: 10px;
    padding-right: 20px;

}

nav ul {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}

nav li a {
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin: 0;
}

nav li a:hover {
    color: blue;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
.main-content {
    width: 75%
}
.curve {
    height: 450px;
    left: 0px;
    position: absolute;
    top: -20px;
    width: 100%;

}

#car-dog {
    width: 100%;
    height: 400px;
}


.car-dog {
    position: relative;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.bring-to-you {
    background-image: url("../images/dog-car.jpg");
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 400px;
    padding-left: 40px;
}

.bring-to-you p {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 60px;
    height: 100%;
    width: 50%;
    padding-top: 120px;
    padding-left: 10px;
    text-shadow: 2px 2px 8px #000000;
}

.steps {
    display: flex;
    /* height: 200px; */
    /* width: 100%; */
} 

#calendar-pic {
    height: 165px;
    width: 165px;
    /* margin-left: 90px; */
}

.dot-top {
    width: 25%;
    height:60px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dotted 10px black;
    padding: 40px 40px;
    border-radius: 100%;
    margin: 20px -50px 0;
}

.dot-bottom {
    width: 33%;
    height:140px;
    z-index: -1;
    background: transparent;
    border: none;
    border-bottom: dotted 10px black;
    padding: 40px 40px;
    border-radius: 100%;
    margin: 0 -65px;
}

#car-pic {
    height: 165px;
    width: 165px;
}

#sponge-pic {
    height: 165px;
    width: 165px;
}

#animated-dog-pic {
    height: 165px;
    width: 165px;
    /* margin-left: -85px; */
}

figcaption { 
    width: 165px;
    display: flex;
    text-align: center;
    margin-top: 10px;
} 

#cap-cal {
    display: flex;
    text-align: center;
}

#cap-car {
    display: flex;
    text-align: center;
}

#cap-sponge {
    display: flex;
    text-align: center;
}

#cap-dog {
    display: flex;
    text-align: center;
}

aside {
    background-color: white;
    width: 25%;
    height: 100%;
}

#green-box { 
    border: 3px;
    width: 85%;
    border-radius: 10px;
    padding: 30px 5px;
    background-color: rgba(9, 164, 60, 0.713);
    color: white;
}

#green-box p {
    font-size: 53px;
    text-align: center;
    font-family: 'Comic Sans MS', sans-serif;
}

#cartoon-dog {
    height: 360px;
    width: 85%;
    margin-top: -100px;
    position: relative;
}

#spick-n-span-logo {
    height: 300px;
    width: 85%;
}

footer {
        display: flex;
        justify-content: flex-end;
        width: 75%;
        background-color: rgb(65, 236, 170) ;
        color: gray;
        font-size: 17px;
        padding: 10px;
        text-align: center;
    }

footer p {
    width: 100%;
    
}

.footer {
    display: flex;
    justify-content: flex-end;
} 

@media screen and (max-width: 1000px) {
    #green-box {
        display: flex;
        flex-wrap: wrap;
    }
    #green-box p {
        font-size: 45px;
    }
}

@media screen and (max-width: 940px) {
    #calendar-pic {
        height: 125px;
        width: 125px;
        /* margin-left: 90px; */
    }

    #car-pic {
        height: 125px;
        width: 125px;
    }
    
    #sponge-pic {
        height: 125px;
        width: 125px;
    }
    
    #animated-dog-pic {
        height: 125px;
        width: 125px;
        /* margin-left: -85px; */
    }
}

@media screen and (max-width: 865px) {
    figcaption { 
        width: 130px;
        display: flex;
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 845px) {
    #green-box {
        display: flex;
        flex-wrap: wrap;
    }

    #green-box p {
        font-size: 35px;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 720px) {
    nav li a {
        font-size: 25px;
    }
}

@media screen and (max-width: 700px) {
    .steps {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .dot-top {
        display: none;
    }

    .dot-bottom {
        display: none;
    }
}

@media screen and (max-width: 670px) {
    #green-box {
        display: flex;
        flex-wrap: wrap;
    }

    #green-box p {
        font-size: 25px;
    }
}

@media screen and (max-width: 543px) {
    .bring-to-you p {
        position: absolute;
        color: white;
        font-weight: bold;
        font-size: 40px;
        height: 100%;
        width: 50%;
        padding-top: 120px;
        padding-left: 10px;
        text-shadow: 2px 2px 8px #000000;
    }
}

@media screen and (max-width: 500px) {
    #green-box p {
        font-size: 25%;
    }

    nav li a {
        font-size: 20px;
    }
}
