* {
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: rgb(65, 236, 170);
    width: 100%;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(65, 236, 170);
    align-items: end;
    height: 100px;
}

nav ul {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

main {
    display: flex;
    width: 75%;
}

#car-dog {
    width: 100%;
    height: 400px;
}

.car-dog {
    position: relative;
    text-align: center;
    color: white;
}

h2 {
    text-align: center;
    font-size: 40px;
    padding: 30px;
}

.bring-to-you {
    position: absolute;
    left: 16px;
    bottom: 200px;
    color: white;
    font-weight: bold;
    font-size: 80px;
    width: 600px;
}

.steps {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 200px;
    width: 100%;
} 

#calendar-pic {
    height: 100px;
    width: 100px;
}

.dot-top {
    width: 120px;
    height:60px;
    z-index: -1;
    background: transparent;
    border: none;
    border-top: dotted 2px black;
    padding: 40px 40px;
    border-radius: 40%;
    margin: 20px -50px 0;
}

.dot-bottom {
    width: 120px;
    height:60px;
    z-index: -1;
    background: transparent;
    border: none;
    border-bottom: dotted 2px black;
    padding: 40px 40px;
    border-radius: 0 0 50% 50%;
    margin: 0 -65px;
}

#sponge-pic {
    height: 100px;
    width: 100px;
}

#animated-dog-pic {
    height: 100px;
    width: 100px;
}

aside {
    background-color: white;
    width: 25%;
    height: 100%;
}

#green-box {
    border: 3px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    padding: 5px;
    background-color: green;
    color: white;
}

#cartoon-dog {
    height: 300px;
    width: 200px;
}

#spick-n-span-logo {
    height: 300px;
    width: 200px;
}

footer {
        display: flex;
        background-color: rgb(65, 236, 170) ;
        color: gray;
        font-size: 17px;
        padding: 10px;
        text-align: center;
    }
